.form-model {
    position: absolute;
    background-color: rgba(17, 17, 17, 0.952);
    width: 40%;
    top: 10px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    padding: 100px;
}

.form-header {
    width: 100%;
    height: 100px;
}

.form-content {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
    max-height: 100vh;
}

.form-title{
    font-weight: bold;
    color: #eee6e6;
    font-size: 20px;
}

.dropdown{
    display: flex;
    width: 256px;
    flex-direction: column;
    align-items: flex-start;
    
}

select{
    width: 100%;
}

label{
    color: #ffffff;
}